{% extends 'app/base.html' %}

{% block content %}

<h5>取引先選択:<select><option>TXJ支店</option><option>TXJ工場</option><option>九州産交</option></select></h5><br><br>


<table>
日付:<input type="date">
事業所コード:<input type="text" style="width: 3rem;">
支店名:<input type="text" style="width: 5rem;">
業者番号:<input type="text" style="width: 3rem;">
商品コード:<input type="text" style="width: 3rem;">
品目:<input type="text" style="width: 10rem;">
単価:<input type="text" style="width: 3rem;">
数量:<input type="text" style="width: 3rem;">
単位:<input type="text" style="width: 3rem;">
合計:<input type="text" style="width: 5rem;">
</table><br>

<table>
日付:<input type="date">
事業所コード:<input type="text" style="width: 3rem;">
支店名:<input type="text" style="width: 5rem;">
業者番号:<input type="text" style="width: 3rem;">
商品コード:<input type="text" style="width: 3rem;">
品目:<input type="text" style="width: 10rem;">
単価:<input type="text" style="width: 3rem;">
数量:<input type="text" style="width: 3rem;">
単位:<input type="text" style="width: 3rem;">
合計:<input type="text" style="width: 5rem;">
</table><br>

<table>
日付:<input type="date">
事業所コード:<input type="text" style="width: 3rem;">
支店名:<input type="text" style="width: 5rem;">
業者番号:<input type="text" style="width: 3rem;">
商品コード:<input type="text" style="width: 3rem;">
品目:<input type="text" style="width: 10rem;">
単価:<input type="text" style="width: 3rem;">
数量:<input type="text" style="width: 3rem;">
単位:<input type="text" style="width: 3rem;">
合計:<input type="text" style="width: 5rem;">
</table><br>
<table>
日付:<input type="date">
事業所コード:<input type="text" style="width: 3rem;">
支店名:<input type="text" style="width: 5rem;">
業者番号:<input type="text" style="width: 3rem;">
商品コード:<input type="text" style="width: 3rem;">
品目:<input type="text" style="width: 10rem;">
単価:<input type="text" style="width: 3rem;">
数量:<input type="text" style="width: 3rem;">
単位:<input type="text" style="width: 3rem;">
合計:<input type="text" style="width: 5rem;">
</table><br>
<table>
日付:<input type="date">
事業所コード:<input type="text" style="width: 3rem;">
支店名:<input type="text" style="width: 5rem;">
業者番号:<input type="text" style="width: 3rem;">
商品コード:<input type="text" style="width: 3rem;">
品目:<input type="text" style="width: 10rem;">
単価:<input type="text" style="width: 3rem;">
数量:<input type="text" style="width: 3rem;">
単位:<input type="text" style="width: 3rem;">
合計:<input type="text" style="width: 5rem;">
</table><br>
<table>
日付:<input type="date">
事業所コード:<input type="text" style="width: 3rem;">
支店名:<input type="text" style="width: 5rem;">
業者番号:<input type="text" style="width: 3rem;">
商品コード:<input type="text" style="width: 3rem;">
品目:<input type="text" style="width: 10rem;">
単価:<input type="text" style="width: 3rem;">
数量:<input type="text" style="width: 3rem;">
単位:<input type="text" style="width: 3rem;">
合計:<input type="text" style="width: 5rem;">
</table><br>
<div class="select-button"><button type="submit" class="btn btn-outline-primary">save</button></div>
{% endblock %}