{% extends 'app/base.html' %}

{% block content %}

<div class="page-body" style="margin: auto; padding: 20px 20px 20px 30px;">
    <a href="{% url 'customer_brycen_file_select' %}" type="button" class="btn btn-outline-primary">入力フォーム</a><br><br>
    <a href="{% url 'file_upload' %}" type="button" class="btn btn-outline-primary">新規案件を進める</a><br><br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">途中案件</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="false">終了案件</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" width="600rem">
            <table class="table table-sm table-hover" id="incompleteTable"
                   cellspacing="0" cellpadding="5"
                   data-filter-control="true" data-show-search-clear-button="true">

                <thead class="thead-light">
                    <tr>
                        <th>NO.</th>
                        <th>最終更新日</th>
                        <th>ステータス</th>
                        <th>取引先</th>
                        <th>担当者</th>
                        <th>請求データ/目視確認ファイル</th>
                        <th></th>
                    </tr>
                </thead><br>
                <tbody>
                {% for m in matched %}
                {% if m.generated.status is 0 or m.generated.status is 1 %}
                 <tr>
                    <td>{{ m.generated.pk }}</td>
                    {% if m.matched_data_file %}
                    <td><a href="{%url 'detail_and_create' pk=m.pk %}">{{ m.created_date|date:"Y/n/j H:i" }}</a></td>
                    {% else %}
                    <td><a href="{%url 'select_billing_file_or_form' pk=m.pk %}">{{ m.created_date|date:"Y/n/j H:i" }}</a></td>
                    {% endif %}
                    {% if m.generated.status == 0 %}
                    <td>請求データ未作成</td>
                    {% elif m.generated.status == 1 %}
                    <td>CSV出力済</td>
                    {% endif %}
                    <td>{{ m.generated.customer }}</td>
                    <td>{{ m.staff}}</td>
                    <td>請求データ</td>
                    {% if m.billing_file and m.matched_data_file %}
                    <td>
                        <a href="{{ m.billing_file.url }}">{{ m.billing_filename }}</a>
                    </td>
                    {% elif not m.billing_file and m.matched_data_file %}
                    <td>
                        <span class="badge badge-pill badge-info">入力データあり</span>
                        <a href="{%url 'detail_and_create' pk=m.pk %}">案件詳細を参照してください</a>
                    </td>
                    {% else %}
                    <td>
                        ファイルをアップロードもしくは、データを入力してください。
                    </td>
                    {% endif %}
                    </tr>
                {% endif %}
                {% endfor %}

                {% for v in visually_matched %}
                {% if v.matched.generated.status is 2 %}
                    <tr>
                        <td>{{ v.matched.generated.pk }}</td>
                        <td><a href="{%url 'import_data' pk=v.pk %}">{{ v.created_date|date:"Y/n/j H:i" }}</a></td>
                        <td>目視確認済</td>
                        <td>{{ v.matched.generated.customer }}</td>
                        <td>{{ v.staff}}</td>
                        <td>目視確認ファイル</td>
                        <td><a href="{{ v.matched.matched_data_file.url }}" download="{{ name }}">{{ v.matched.matched_data_filename }}</a></td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
      </div>
    <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
            <table class="table table-sm table-hover" id="completedTable" data-filter-control="true"
                    cellspacing="0" cellpadding="5">
                <thead class="thead">
                    <tr>
                        <th>NO.</th>
                        <th data-field="export-date" data-filter-control="input">インポートデータ出力日</th>
                        <th data-field="staff" data-filter-control="select">担当者</th>
                        <th data-field="customer" data-filter-control="select">取引先</th>
                        <th data-field="billing-data" data-filter-control="input">請求データ</th>
                        <th data-field="csv-type" data-filter-control="select">CSV修正有無</th>
                    </tr>
                </thead><br>
                <tbody>
                {% for i in import_data %}
                {% if i.visually_matched.matched.generated.status is 3 %}
                    <tr>
                        <td>{{ i.visually_matched.matched.generated.pk }}</td>
                        <td><a href="{% url 'import_data_detail' pk=i.pk %}">{{ i.created_date|date:"Y/n/j H:i" }}</a></td>
                        <td>{{ i.staff }}</td>
                        <td>{{ i.visually_matched.matched.generated.customer }}</td>
                        {% if i.visually_matched.matched.billing_file %}
                        <td><a href="{{ i.visually_matched.matched.billing_file.url }}">{{ i.visually_matched.matched.billing_filename }}</a></td>
                        {% else %}
                        <td>
                            <span class="badge badge-pill badge-info">入力データあり</span>
                            <a href="{% url 'import_data_detail' pk=i.pk %}">アップロード情報を参照してください。</a>
                        </td>
                        {% endif %}
                        {% if i.visually_matched_file %}
                        <td>あり</td>
                        {% else %}
                        <td>なし</td>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
    </div>
    </div>
</div>

<script>
  $(function() {
    $('#completedTable').bootstrapTable()
  })
</script>


{% endblock %}
