{% extends 'app/base.html' %}

{% block content %}

<h4>案件NO.{{ generated_data.pk }}</h4>
<h5>取引先名：{{ generated_data.customer }}</h5>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card" style="width: 550; padding: 20px 10px 20px 10px;">
        <label>ブライセンから出力した契約データExcelファイルを選択してください。</label><br>
        ブライセン契約データ{{ form.brycen_file }}
    </div><br>
    <div class="card" style="width: 550; padding: 20px 10px 20px 10px;">
        <label>電子請求データCSVファイルを選択してください。</label><br>
        請求データ{{ form.billing_file }}
    </div><br>

    <div class="select-button"><button type="submit" class="btn btn-outline-primary">upload</button></div>
    ※uploadを押すと選択したファイルを基に<br>付け合わせ済ファイルを作成します。
</form>

{% endblock %}