{% extends 'app/base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.brycen_file.label_tag }}
        {{ form.brycen_file }}<br>
        {{ form.billing_file.label_tag }}
        {{ form.billing_file }}



        <!--<input type="file" accept=".csv" ><br>-->

        <!--<input type="file" accept=".xlsx" >-->
        <div class="select-button" style="float: right;"><button type="submit" class="btn btn-outline-primary">upload</button></div>
    </form>

{% endblock %}